<nav>
  <div class="nav-wrapper black">
    <a class="brand-logo">The Banners</a>
    <a href="#" class="brand-logo center" (click)="setDown()"> Download </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a (click)="setLay('horizontal')">Horizontal</a></li>
      <li><a (click)="setLay('horizontalRev')">Horizontal Reverse</a></li>
      <li><a (click)="setLay('vertical')">Vertical</a></li>
      <li><a (click)="setLay('verticalRev')">Vertical Reverse</a></li>
    </ul>
  </div>
</nav>
