<!-- Component Navbar -->
<app-navbar (layout)="setLayout($event)"></app-navbar>
<!-- Component Navbar End -->

<div [ngClass]="layout">
  <!-- Component Banner -->
  <app-banner [newStyle]="getBannerStyles()" [newFont]="fontSize"></app-banner>
  <!-- Component Banner End -->

  <!-- Component Settings -->
  <app-settings
    [colors]="colors"
    (clickOne)="color1 = $event"
    (clickTwo)="color2 = $event"
    (changePerColor1)="percentColor1 = $event"
    (changePerColor2)="percentColor2 = $event"
    (changeWidth)="width = $event"
    (changeHeight)="height = $event"
    (changeFontSize)="fontSize = $event"
  ></app-settings>
  <!-- Component Settings End -->
</div>
