<!-- Component Navbar -->
<app-navbar (layout)="setLayout($event)"></app-navbar>
<!-- Component Navbar End -->

<div [ngClass]="layout">
  <!-- Component Banner -->
  <app-banner [newStyle]="getBannerStyles()" [newFont]="fontSize"></app-banner>
  <!-- Component Banner End -->

  <!-- Component Settings -->
  <app-settings
    [colors]="colors"
    (clickOne)="color1 = $event"
    (clickTwo)="color2 = $event"
    [percentColor1]="percentColor1"
    [percentColor2]="percentColor2"
    [width]="width"
    [height]="height"
    [fontSize]="fontSize"
  ></app-settings>
  <!-- Component Settings End -->
</div>
